
<h1>Summerfell Hotspot Portal</h1>

<dl>
  <dt>Device Address</dt>
  <dd><%= @device_address %></dd>
  <dt>AP Address</dt>
  <dd><%= @access_point_address %></dd>
  <dt>URL</dt>
  <dd><%= @url %></dd>
</dl>
