
<h1>Thank You</h1>

<p>
  You're logged in to the Summerfell Turbo Network.
  Your access will expire on <strong><%= @guest.expires_at.strftime("%A, %B %-d, at %-l:%M%P") %></strong>
</p>

<p>Close this window to continue browsing.</p>

